
.success{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 4rem; */
}
.success .head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.success .intro{
    line-height: 1.5rem;
}
.success h1{
    margin-top: 1.5rem;
}
@media screen and (min-width: 728px) {
    
}
@media screen and (min-width: 998px) {
    .success{
        padding: 4rem;
    }
    .success h1{
        margin-top: 2rem;
    }
}