
.page-comp{
    overflow: hidden;
}
@media screen and (min-width: 728px) {
    .page-comp{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 6rem;
    }
    .page-comp .btn{
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (min-width: 998px) {
    .page-comp{
        height: 100%;
    }
}